@{
    ViewBag.Title = "Поздравляем!";
}

<div style="text-align: center">
    <div class="row blue fontsize200">
        <div class="col-lg-3 hidden-md-down"></div>
        <div class="col-lg-6 col-md-12 almostWhite fontsize150">
            Поздравляем!
        </div>
        <div class="col-lg-3 hidden-md-down"></div>
    </div>
    <div class="row blue">
        <div class="col-lg-3 hidden-md-down"></div>
        <div class="col-lg-6 col-md-12 fontsize150 text-nowrap">
            Вы выиграли <span class="yellow fontsize150">100</span> кредитов!
        </div>
        <div class="col-lg-3 hidden-md-down"></div>
    </div>
    <div class="row blue fixed-bottom" style="">
        <div class="col-lg-3 hidden-md-down"></div>
        <div class="col-lg-6 col-md-12" style="height: 120px; background: url(/Content/img/logo_new_xs.png) no-repeat center center;">
        </div>
        <div class="col-lg-3 hidden-md-down"></div>
    </div>

</div>