@{
    ViewBag.Title = "Ошибка";
}

<div style="text-align: center">
    <div class="row blue">
        <div class="col-lg-3 hidden-md-down"></div>
        <div class="col-lg-6 col-md-12 fontsize150 text-nowrap">
            Исопльзованный код либо неправильный, <br/>либо уже погашен.<br/>Воспользуйтесь другим.
        </div>
        <div class="col-lg-3 hidden-md-down"></div>
    </div>
    <div class="row blue fixed-bottom" style="">
        <div class="col-lg-3 hidden-md-down"></div>
        <div class="col-lg-6 col-md-12" style="height: 120px; background: url(/Content/img/logo_new_xs.png) no-repeat center center;">
        </div>
        <div class="col-lg-3 hidden-md-down"></div>
    </div>

</div>