@model List<Model.News>

@{
    ViewBag.Title = "Новости Опоры";
}
<br/>
@foreach (var m in Model)
{
    <div class="row blue">
        <div class="col-4"></div>
        <div class="col-3 col-xs-9" style="border-bottom: 1px dashed #0098DA;">
            <div class="fontsize150">@m.Title</div>
            <div>@m.Text</div>
        </div>
        <div class="col-1 col-xs-3" style="border-bottom: 1px dashed #0098DA;">
            <div>@m.CreateDate.ToString("dd.MM.yyyy")</div>
        </div>
        <div class="col-4"></div>
    </div>
}