@{
    ViewBag.Title = "Магазин";
}

<div class="row blue fontsize200" style="margin-top: 100px;">
    <div class="col-4"></div>
    <div class="col-4 col-xs-12 text-center">
        <div>Здесь рыбы нет</div>
    </div>
    <div class="col-4"></div>
</div>

<div class="row blue">
    <div class="col-4"></div>
    <div class="col-4 col-xs-12 text-center">
        <a href="@Url.Action("Index", "Profile")">Вернуться в профиль</a>
    </div>
    <div class="col-4"></div>
</div>