@{
    ViewBag.Title = "Магазин";
}

<div class="row blue fontsize200">
    <div class="col-4"></div>
    <div class="col-4 col-xs-12">
        <div>Не доступных к покупке товаров</div>
    </div>
    <div class="col-4"></div>
</div>

<div class="row blue">
    <div class="col-4"></div>
    <div class="col-4 col-xs-12">
        <a href="@Url.Action("Index", "Profile")"><button>Вернуться в профиль</button></a>
    </div>
    <div class="col-4"></div>
</div>