@model Model.ProfileInfo
@{
    ViewBag.Title = "Профиль";
}


<div class="row blue" style="padding-top: 10px;">
    <div class="col-4"></div>
    <div class="col-2 col-xs-6" style="border: 2px solid #0098DA; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; text-align: center;">
        <div class="fontsize200">^</div><div class="fontsize200">^</div><div>upload<br />profile<br />photo</div>
    </div>
    <div class="col-2 col-xs-6">
        <div class="fontsize200">Age...@Model.Age</div>
        <div class="fontsize200">Sex...@(Model.IsMale ? "M" : "F")</div>
        <div><br /><br /><br /></div>
        <div class="@(Model.IsCitizen ? "green" : "orange")">Registration: @(Model.IsCitizen ? "YES" : "!NO!")</div>
    </div>
    <div class="col-4"></div>
</div>
<div class="row lightGreen fontsize200" style="text-decoration: underline">
    <div class="col-4"></div>
    <div class="col-4 col-xs-12">
        <div>@Model.FirstName</div>
        <div>@Model.LastName</div>
    </div>
    <div class="col-4"></div>
</div>
<div class="row fontsize200">
    <div class="col-4"></div>
    <div class="col-2 col-xs-6">
        <div class="yellow" style="border-top: 1px dashed #0098DA; border-bottom: 1px dashed #0098DA;">
            <img src="../../Content/img/creditsr.png" />&nbsp;&nbsp;&nbsp;123456
        </div>
        <div class="green" style="border-bottom: 1px dashed #0098DA;">
            <img src="../../Content/img/miningtimer.png" />&nbsp;&nbsp;&nbsp;00:00
        </div>
    </div>
    <div class="col-2 col-xs-6" style="border: 2px solid #0098DA; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px">
        <img src="../../Content/img/shopr.png" style="display: block; margin: 0 auto; padding-top: 5px;" />
    </div>
    <div class="col-4"></div>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4 col-xs-12"><img src="../../Content/img/userlistr.png" style="display: block; margin: 0 auto; padding: 5px;" /></div>
    <div class="col-4"></div>
</div>
<div class="row almostWhite">
    <div class="col-4"></div>
    <div class="col-4 col-xs-12 fontsize200" style="text-align: center; border-top: 1px dashed #0098DA; border-bottom: 1px dashed #0098DA;">
        <button>Save</button>
    </div>
    <div class="col-4"></div>
</div>



