@{
    ViewBag.Title = "Вход запрещен";
}

<div class="row blue text-center" style="margin-top: 100px;">
    <div class="col-lg-3 hidden-md-down"></div>
    <div class="col-lg-6 col-12">
        <h2>Вход запрещен</h2>
    </div>
    <div class="col-lg-3 hidden-md-down"></div>
</div>
<div class="row blue text-center" style="margin-top: 10px;">
    <div class="col-lg-3 hidden-md-down"></div>
    <div class="col-lg-6 col-12">
        Ваша заявка на рассмотрении.<br />
        Мастера свяжутся с вами для завершения регистрации.
    </div>
    <div class="col-lg-3 hidden-md-down"></div>
</div>
