@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Пользователь заблокирован.</h1>
    <h2 class="text-danger">Обратитесь к мастерам для получения доступа к Матрице.</h2>
</hgroup>
