@model List<WebApp.Models.UserViewModel>
@{
    ViewBag.Title = "Пользователи";
}


<div class="row blue">
    <div class="col-4"></div>
    <div class="col-4 col-xs-12">
        <div>users online: @Model.Count</div>
    </div>
    <div class="col-4"></div>
</div>

<div class="row blue">
    <div class="col-4"></div>
    <div class="col-4 col-xs-12">
        <div><form method="post" action="~/User/Search"><input id="name" name="name" type="text" placeholder="введите имя пользователя" /></form></div>
    </div>
    <div class="col-4"></div>
</div>

@foreach (var user in Model)
{
<div class="row blue">
    <div class="col-4"></div>
    <div class="col-4 col-xs-12">
        <div>@user.FirstName</div>
        <div>@user.LastName</div>
        <div><button onclick="/*add validation*/var money = prompt('How much?', 1); $.ajax({type: 'POST', url: '/User/Transfer', data: {value: money, userId: '@user.UserId'}});">Send money</button></div>
    </div>
    <div class="col-4"></div>
</div>
}
